In [1]:
import pandas as pd
import os

In [2]:
files =[file for file in os.listdir('.\SecondTermXI')]
for file in files:
    print(file)

Eng (1).csv
Eng (2).csv
Eng (3).csv
Eng (4).csv
Eng (5).csv

In [19]:
files =[file for file in os.listdir("./SecondTermXI")]
All_Eng = pd.DataFrame()
for file in files:
    df = pd.read_csv("./SecondTermXI/" + file)
    All_Eng = pd.concat([All_Eng, df])
All_Eng.head()

,Name,Start Datetime,End Datetime,Time,Percent,Points Earned,Points Possible,রেওয়ামিল তৈরির মূল উদ্দেশ্য কী?,কোনটি রেওয়ামিলের ক্রেডিট দিকে বসে?,কখন সমাপনী মজুদ পণ্য রেওয়ামিলে অন্তর্ভুক্ত হয়?,...,(3D1)₁₆ এর সমকক্ষ ৮-ভিত্তিক সংখ্যা কোনটি?,"1,7, D ক্রমটির পরবর্তী মান কত?",কোনটি ৮ বিটের কোড?i. ASCIIii. EBCDICiii. BCD codeনিচের কোনটি সঠিক?,(278)10 এর BCD কোড কোনটি?,'F' এর অ্যাসকি মান 70 হলে 'e' এর মান কত?,(-230)10 সংখ্যাটি রেজিস্টারে স্টোর করার জন্য কমপক্ষে কত বিটের রেজিস্টার প্রয়োজন হবে?,ডিজিটাল সিস্টেমে কোন ভোল্টেজ লেভেল সংজ্ঞায়িত নয়?,NAND গেইটের আউটপুট ‘1’ হবে যদি—i. সকল ইনপুট 1 হয়ii. যেকোন একটি ইনপুট 0 হয়iii. সকল ইনপুট 0 হয়নিচের কোনটি সঠিক?,এনকোডার হলো এমন একটি সার্কিট যার—– থাকে।i. n সংখ্যক আউটপুট লাইনii. 2n সংখ্যক ইনপুট লাইনiii. 2n সংখ্যক ইনপুট লাইননিচের কোনটি সঠিক?,ফুল অ্যাডারের তিনটি বিটের সর্বোচ্চ যোগফল হবে-i. (3)10 ii. (11)2 iii. (111)2নিচের কোনটি সঠিক?
0,JO001KJDS,2021-06-12 10:04:40+06:00,2021-06-12 10:23:47+06:00,0:17:00,45,9.0,20.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JO003KDJF,2021-06-12 10:00:27+06:00,2021-06-12 10:17:47+06:00,0:16:13,75,15.0,20.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JO004MFNG,2021-06-12 10:00:55+06:00,2021-06-12 10:25:47+06:00,0:24:31,60,12.0,20.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JO007KDJD,2021-06-12 10:00:21+06:00,2021-06-12 10:15:01+06:00,0:14:16,80,16.0,20.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,JO009HEGR,2021-06-12 10:00:36+06:00,2021-06-12 10:23:14+06:00,0:22:13,80,16.0,20.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
All_Eng.to_csv("All_Bstudies.csv", index = False)

In [21]:
Biology.head()

NameError: name 'Biology' is not defined

In [26]:
bio =pd.read_csv("Biolo.csv")
che =pd.read_csv("Chem.csv")
joinBio_Che = pd.merge(bio, che)
joinBio_Che

           Name  Biol  Che
0     NE232SMDK    14   12
1     NE235KRJF    15    6
2     NE236MSKE    12   11
3     NE237MSHS    17   16
4    NE239KMDJF    16    8
..          ...   ...  ...
279   NU086RTER    10   15
280   NU087HFDS    11    8
281   NU089GRET    17   11
282   NU090NFTH    17   14
283   NU091BFDS     9   12

[284 rows x 3 columns]

In [27]:
joinBio_Che.to_csv("JoinC_B.csv")

In [33]:
bio

           Name  Biol
0     NE232SMDK    14
1     NE235KRJF    15
2     NE236MSKE    12
3     NE237MSHS    17
4    NE239KMDJF    16
..          ...   ...
308   NU086RTER    10
309   NU087HFDS    11
310   NU089GRET    17
311   NU090NFTH    17
312   NU091BFDS     9

[313 rows x 2 columns]

In [34]:
All_Data =pd.read_csv("MainData.csv")

In [35]:
All_Data

            ID  Roll
0    LU001URTY     1
1    LU002FJHJ     2
2    LU003NCBJ     3
3    NU004DHJS     4
4    LU005DJKH     5
..         ...   ...
386  PL403KJSD   403
387  UR404JKDE   404
388  UR405HGTU   405
389  PL406KORI   406
390  PA407LABS   407

[391 rows x 2 columns]

In [38]:
bio =pd.read_csv("Biolo.csv")

In [39]:
joinBio_Main = pd.merge(All_Data, bio)
joinBio_Main

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False